@import "../../../../../scss/shared/variables.scss";
@import "../../../../../scss/shared/mixins.scss";

.productBlock {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  opacity: 0;
  transition: all 0.3s ease-in;
  pointer-events: none;
}

.productBlock.active {
  opacity: 1;
  pointer-events: all;
}

.content {
  width: 500px;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: scale(0);
  transition: all 0.3s ease-in;
}

.content.active {
  transform: scale(1);
}

.image {
  width: 360px;
}

.title {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1%;
  margin-bottom: 20px;
}

.description {
  text-align: start;
  font-size: 14px;
  p {
    opacity: 0.7;
  }
  span {
    color: #000000;
    font-weight: 900;
  }
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.price {
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 0.015em;
}
