@import "./shared/variables.scss";
@import "./shared/mixins.scss";
@import "./button.scss";

* {
  padding: 0;
  margin: 0;
  list-style: none;
  outline: none;
  font-family: "Nunito", Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $black;
  background-color: $background;
}

a,
span,
p,
b,
h1,
h2,
h3,
h4,
h5 {
  color: $black;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  margin: 50px auto;
  border-radius: 10px;
  max-width: 1400px;
  @media (max-width: $mobile) {
    width: calc(100vw - 20px);
    margin: 10px auto;
  }
}

.container {
  width: $container-width;
  margin: 0 auto;

  &--cart {
    max-width: 820px;
    margin: 90px auto;
    .content__title {
      margin: 0;
    }
  }
}
